/* Custom theme stuff goes in here */

html {
  background: #F0F0F0;
}

body {
  color: #345;
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  text-transform: uppercase;
}

// fix padding on home button
#back-to-main-site .fa-home {
  padding: 0;
}
